/* 
    Document   : right_banner
    Created on : 27 janv. 2010, 16:48:20
    Author     : borei
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

